@import '@/app/mixins.scss';

.inputField {
    width: 100%;

    .inputFieldLabel {
        font-weight: bold;
        padding-left: 5px;
    }

    input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;

        margin: 0;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.buyNftContainer {
    @include flex(space-between, center);
    padding : 10px;
    

    .buyNftInfo, .widthdrawInfo {
        width: 60%;
        @include flex(flex-start, flex-start, column,20px);

        .buyNftInfoItem {
            font-size: 14px;
            font-weight: 600;
            width: 100%;
            p {
                font-weight: 600;
                margin : 10px 0;
            }
        }

        input {
            width: 100%;
            padding : 10px 5px;
            background-color: #f4f4f4;
            border-radius: 10px;
            text-overflow: ellipsis;
            border: none;
            outline :none;
            
        }
    

        .priceInput {
            position: relative;            

            p {
                position: absolute;
                right : 0;
                top : 3px;
                right : 5px;
            }

        }
    }

    .widthdrawInfo {
        width: 100%;
    }

    .buyNftImage {
        width : 40%;
        font-weight: 700;
        @include flex(flex, flex, column, 10px);

        img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    }
}

.buyNftFooter {
    @include flex(space-between, center);
    width: 100%;

    .buyNftFooterOptions {
        @include flex(center,center,row, 10px);
    }

    .currentBalance {
        font-size: 14px;
    }

    .connectButton {
        background-color: #0E76FD;
        padding : 8px 10px;
        border-radius : 5px;
        color : white;
        font-weight: 600;
    }
}

@media only screen and (max-width : 767px) {
    .modalContainer {
        margin-top: 60px;
    }

    .buyNftContainer {
    
        .buyNftInfo {
            @include flex(flex-start, flex-start, column, 5px);
        }
    
        .buyNftImage {
    
            img {
                height: 100px !important;
            }
        }
    }

    .buyNftFooter {
        gap : 20px;

    
        .currentBalance {
            font-size: 12px;
        }
    }
}