@import '@/app/mixins';

.nftItemContainer {
    width: 300px;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding : 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;


    @include flex(center, center, column, 10px);

    img { 
        object-fit: contain;
    }

    .nftName {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        @include flex(flex-end, flex-end);

    }

    .nftDescription {
        font-size: 15px;
        font-weight: 200;
        color: rgba(#9f9f9f, .6);
        font-style: italic;
    }

    .nftHeadInfo {
        width: 100%;
        font-size: 13px;

        p {
            color: rgba(#9f9f9f, .9);
        }
    }

    .nftPrice {
        width: 100%;
        font-weight: 600;
    }

    .nftOptions {
        position: absolute;
        bottom : -100px;
        width: 100%;
        font-weight: 600;
        background-color: #2081E2;
        color : white;
        text-align: center;
        display: flex;
        justify-content: space-between;
        transition: bottom .5s ease;

        .nftOptionsBuynow{
            width: 70%;
            padding : 5px;
            &:hover {
                background-color: #1c78d3;
            }
        }

        .nftOptionsGap{
            width: 0.5px;
            background-color: white;
        }

        .nftOptionsPrice {
            width: 30%;
            padding : 5px;
            &:hover {
                background-color: #1c78d3;
            }
        }
    }

    .nftOptionsActive {
        bottom : 0px;
        transition: bottom .5s ease;
    }
}


@media only screen and (max-width : 767px) {
    .responsiveNormalPage {
        width: 150px;
        height: 150px;
        padding : 10px;
    
        @include flex(center, center, column, 2px);
    
        .nftName {
            font-size: 12px;
        }
    
        .nftDescription {
            font-size: 10px;
        }
    
        .nftHeadInfo {
            font-size: 10px;
        }

        img { 
            object-fit: contain;
        }
    }
    
    
}